name: Manually trigger an Azure Machine Learning job

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repo
      uses: actions/checkout@v4

    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Install Azure ML CLI extension
      run: |
        az extension add -n ml -y

    - name: Set Azure ML defaults
      run: |
        az configure --defaults \
          group=rg-mlops-devs \
          workspace=mlw-mlops-devs

    - name: Submit Azure ML training job
      run: |
        az ml job create --file src/job.yml
